/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-wrapper {
  padding: 64px auto;
  width: 960px;
  border: 1px solid #eee;
  padding: 10px;
}
