<div class="dashboard">
  <app-card-active></app-card-active>
  <div style="flex: auto"></div>
  <app-search></app-search>

  <app-card-image></app-card-image>

  <app-card-balance-overview></app-card-balance-overview>

  <div class="nav-mid">
    <ul>
      <li><a href="#">More Details</a></li>
      <li><a href="#">Statement and Activity</a></li>
    </ul>
  </div>
  <div style="flex: auto"></div>

  <div class="make-payment">
    <button mat-flat-button>$ Make Payment</button>
  </div>

  <app-card-recent-activities></app-card-recent-activities>

  <app-nav-main></app-nav-main>
</div>
