.dashboard {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 960px;
  border: 1px solid #eee;
}

.nav-mid {
  margin: 10px;
  ul {
    list-style: none;
  }
}

.make-payment {
  width: 950px;
  text-align: center;
  margin: 10px;
}
